._w-0 {
    width: 0% !important;
}

._w-1 {
    width: 1% !important;
}

._w-2 {
    width: 2% !important;
}

._w-3 {
    width: 3% !important;
}

._w-4 {
    width: 4% !important;
}

._w-5 {
    width: 5% !important;
}

._w-6 {
    width: 6% !important;
}

._w-7 {
    width: 7% !important;
}

._w-8 {
    width: 8% !important;
}

._w-9 {
    width: 9% !important;
}

._w-10 {
    width: 10% !important;
}

._w-11 {
    width: 11% !important;
}

._w-12 {
    width: 12% !important;
}

._w-13 {
    width: 13% !important;
}

._w-14 {
    width: 14% !important;
}

._w-15 {
    width: 15% !important;
}

._w-16 {
    width: 16% !important;
}

._w-17 {
    width: 17% !important;
}

._w-18 {
    width: 18% !important;
}

._w-19 {
    width: 19% !important;
}

._w-20 {
    width: 20% !important;
}

._w-21 {
    width: 21% !important;
}

._w-22 {
    width: 22% !important;
}

._w-23 {
    width: 23% !important;
}

._w-24 {
    width: 24% !important;
}

._w-25 {
    width: 25% !important;
}

._w-26 {
    width: 26% !important;
}

._w-27 {
    width: 27% !important;
}

._w-28 {
    width: 28% !important;
}

._w-29 {
    width: 29% !important;
}

._w-30 {
    width: 30% !important;
}

._w-31 {
    width: 31% !important;
}

._w-32 {
    width: 32% !important;
}

._w-33 {
    width: 33% !important;
}

._w-34 {
    width: 34% !important;
}

._w-35 {
    width: 35% !important;
}

._w-36 {
    width: 36% !important;
}

._w-37 {
    width: 37% !important;
}

._w-38 {
    width: 38% !important;
}

._w-39 {
    width: 39% !important;
}

._w-40 {
    width: 40% !important;
}

._w-41 {
    width: 41% !important;
}

._w-42 {
    width: 42% !important;
}

._w-43 {
    width: 43% !important;
}

._w-44 {
    width: 44% !important;
}

._w-45 {
    width: 45% !important;
}

._w-46 {
    width: 46% !important;
}

._w-47 {
    width: 47% !important;
}

._w-48 {
    width: 48% !important;
}

._w-49 {
    width: 49% !important;
}

._w-50 {
    width: 50% !important;
}

._w-51 {
    width: 51% !important;
}

._w-52 {
    width: 52% !important;
}

._w-53 {
    width: 53% !important;
}

._w-54 {
    width: 54% !important;
}

._w-55 {
    width: 55% !important;
}

._w-56 {
    width: 56% !important;
}

._w-57 {
    width: 57% !important;
}

._w-58 {
    width: 58% !important;
}

._w-59 {
    width: 59% !important;
}

._w-60 {
    width: 60% !important;
}

._w-61 {
    width: 61% !important;
}

._w-62 {
    width: 62% !important;
}

._w-63 {
    width: 63% !important;
}

._w-64 {
    width: 64% !important;
}

._w-65 {
    width: 65% !important;
}

._w-66 {
    width: 66% !important;
}

._w-67 {
    width: 67% !important;
}

._w-68 {
    width: 68% !important;
}

._w-69 {
    width: 69% !important;
}

._w-70 {
    width: 70% !important;
}

._w-71 {
    width: 71% !important;
}

._w-72 {
    width: 72% !important;
}

._w-73 {
    width: 73% !important;
}

._w-74 {
    width: 74% !important;
}

._w-75 {
    width: 75% !important;
}

._w-76 {
    width: 76% !important;
}

._w-77 {
    width: 77% !important;
}

._w-78 {
    width: 78% !important;
}

._w-79 {
    width: 79% !important;
}

._w-80 {
    width: 80% !important;
}

._w-81 {
    width: 81% !important;
}

._w-82 {
    width: 82% !important;
}

._w-83 {
    width: 83% !important;
}

._w-84 {
    width: 84% !important;
}

._w-85 {
    width: 85% !important;
}

._w-86 {
    width: 86% !important;
}

._w-87 {
    width: 87% !important;
}

._w-88 {
    width: 88% !important;
}

._w-89 {
    width: 89% !important;
}

._w-90 {
    width: 90% !important;
}

._w-91 {
    width: 91% !important;
}

._w-92 {
    width: 92% !important;
}

._w-93 {
    width: 93% !important;
}

._w-94 {
    width: 94% !important;
}

._w-95 {
    width: 95% !important;
}

._w-96 {
    width: 96% !important;
}

._w-97 {
    width: 97% !important;
}

._w-98 {
    width: 98% !important;
}

._w-99 {
    width: 99% !important;
}

._w-100 {
    width: 100% !important;
}

._h-0 {
    height: 0% !important;
}

._h-1 {
    height: 1% !important;
}

._h-2 {
    height: 2% !important;
}

._h-3 {
    height: 3% !important;
}

._h-4 {
    height: 4% !important;
}

._h-5 {
    height: 5% !important;
}

._h-6 {
    height: 6% !important;
}

._h-7 {
    height: 7% !important;
}

._h-8 {
    height: 8% !important;
}

._h-9 {
    height: 9% !important;
}

._h-10 {
    height: 10% !important;
}

._h-11 {
    height: 11% !important;
}

._h-12 {
    height: 12% !important;
}

._h-13 {
    height: 13% !important;
}

._h-14 {
    height: 14% !important;
}

._h-15 {
    height: 15% !important;
}

._h-16 {
    height: 16% !important;
}

._h-17 {
    height: 17% !important;
}

._h-18 {
    height: 18% !important;
}

._h-19 {
    height: 19% !important;
}

._h-20 {
    height: 20% !important;
}

._h-21 {
    height: 21% !important;
}

._h-22 {
    height: 22% !important;
}

._h-23 {
    height: 23% !important;
}

._h-24 {
    height: 24% !important;
}

._h-25 {
    height: 25% !important;
}

._h-26 {
    height: 26% !important;
}

._h-27 {
    height: 27% !important;
}

._h-28 {
    height: 28% !important;
}

._h-29 {
    height: 29% !important;
}

._h-30 {
    height: 30% !important;
}

._h-31 {
    height: 31% !important;
}

._h-32 {
    height: 32% !important;
}

._h-33 {
    height: 33% !important;
}

._h-34 {
    height: 34% !important;
}

._h-35 {
    height: 35% !important;
}

._h-36 {
    height: 36% !important;
}

._h-37 {
    height: 37% !important;
}

._h-38 {
    height: 38% !important;
}

._h-39 {
    height: 39% !important;
}

._h-40 {
    height: 40% !important;
}

._h-41 {
    height: 41% !important;
}

._h-42 {
    height: 42% !important;
}

._h-43 {
    height: 43% !important;
}

._h-44 {
    height: 44% !important;
}

._h-45 {
    height: 45% !important;
}

._h-46 {
    height: 46% !important;
}

._h-47 {
    height: 47% !important;
}

._h-48 {
    height: 48% !important;
}

._h-49 {
    height: 49% !important;
}

._h-50 {
    height: 50% !important;
}

._h-51 {
    height: 51% !important;
}

._h-52 {
    height: 52% !important;
}

._h-53 {
    height: 53% !important;
}

._h-54 {
    height: 54% !important;
}

._h-55 {
    height: 55% !important;
}

._h-56 {
    height: 56% !important;
}

._h-57 {
    height: 57% !important;
}

._h-58 {
    height: 58% !important;
}

._h-59 {
    height: 59% !important;
}

._h-60 {
    height: 60% !important;
}

._h-61 {
    height: 61% !important;
}

._h-62 {
    height: 62% !important;
}

._h-63 {
    height: 63% !important;
}

._h-64 {
    height: 64% !important;
}

._h-65 {
    height: 65% !important;
}

._h-66 {
    height: 66% !important;
}

._h-67 {
    height: 67% !important;
}

._h-68 {
    height: 68% !important;
}

._h-69 {
    height: 69% !important;
}

._h-70 {
    height: 70% !important;
}

._h-71 {
    height: 71% !important;
}

._h-72 {
    height: 72% !important;
}

._h-73 {
    height: 73% !important;
}

._h-74 {
    height: 74% !important;
}

._h-75 {
    height: 75% !important;
}

._h-76 {
    height: 76% !important;
}

._h-77 {
    height: 77% !important;
}

._h-78 {
    height: 78% !important;
}

._h-79 {
    height: 79% !important;
}

._h-80 {
    height: 80% !important;
}

._h-81 {
    height: 81% !important;
}

._h-82 {
    height: 82% !important;
}

._h-83 {
    height: 83% !important;
}

._h-84 {
    height: 84% !important;
}

._h-85 {
    height: 85% !important;
}

._h-86 {
    height: 86% !important;
}

._h-87 {
    height: 87% !important;
}

._h-88 {
    height: 88% !important;
}

._h-89 {
    height: 89% !important;
}

._h-90 {
    height: 90% !important;
}

._h-91 {
    height: 91% !important;
}

._h-92 {
    height: 92% !important;
}

._h-93 {
    height: 93% !important;
}

._h-94 {
    height: 94% !important;
}

._h-95 {
    height: 95% !important;
}

._h-96 {
    height: 96% !important;
}

._h-97 {
    height: 97% !important;
}

._h-98 {
    height: 98% !important;
}

._h-99 {
    height: 99% !important;
}

._h-100 {
    height: 100% !important;
}

/* vw _________________________________________________________________________________________________ */
._vw-0 {
    width: 0vw !important;
}

._vw-1 {
    width: 1vw !important;
}

._vw-2 {
    width: 2vw !important;
}

._vw-3 {
    width: 3vw !important;
}

._vw-4 {
    width: 4vw !important;
}

._vw-5 {
    width: 5vw !important;
}

._vw-6 {
    width: 6vw !important;
}

._vw-7 {
    width: 7vw !important;
}

._vw-8 {
    width: 8vw !important;
}

._vw-9 {
    width: 9vw !important;
}

._vw-10 {
    width: 10vw !important;
}

._vw-11 {
    width: 11vw !important;
}

._vw-12 {
    width: 12vw !important;
}

._vw-13 {
    width: 13vw !important;
}

._vw-14 {
    width: 14vw !important;
}

._vw-15 {
    width: 15vw !important;
}

._vw-16 {
    width: 16vw !important;
}

._vw-17 {
    width: 17vw !important;
}

._vw-18 {
    width: 18vw !important;
}

._vw-19 {
    width: 19vw !important;
}

._vw-20 {
    width: 20vw !important;
}

._vw-21 {
    width: 21vw !important;
}

._vw-22 {
    width: 22vw !important;
}

._vw-23 {
    width: 23vw !important;
}

._vw-24 {
    width: 24vw !important;
}

._vw-25 {
    width: 25vw !important;
}

._vw-26 {
    width: 26vw !important;
}

._vw-27 {
    width: 27vw !important;
}

._vw-28 {
    width: 28vw !important;
}

._vw-29 {
    width: 29vw !important;
}

._vw-30 {
    width: 30vw !important;
}

._vw-31 {
    width: 31vw !important;
}

._vw-32 {
    width: 32vw !important;
}

._vw-33 {
    width: 33vw !important;
}

._vw-34 {
    width: 34vw !important;
}

._vw-35 {
    width: 35vw !important;
}

._vw-36 {
    width: 36vw !important;
}

._vw-37 {
    width: 37vw !important;
}

._vw-38 {
    width: 38vw !important;
}

._vw-39 {
    width: 39vw !important;
}

._vw-40 {
    width: 40vw !important;
}

._vw-41 {
    width: 41vw !important;
}

._vw-42 {
    width: 42vw !important;
}

._vw-43 {
    width: 43vw !important;
}

._vw-44 {
    width: 44vw !important;
}

._vw-45 {
    width: 45vw !important;
}

._vw-46 {
    width: 46vw !important;
}

._vw-47 {
    width: 47vw !important;
}

._vw-48 {
    width: 48vw !important;
}

._vw-49 {
    width: 49vw !important;
}

._vw-50 {
    width: 50vw !important;
}

._vw-51 {
    width: 51vw !important;
}

._vw-52 {
    width: 52vw !important;
}

._vw-53 {
    width: 53vw !important;
}

._vw-54 {
    width: 54vw !important;
}

._vw-55 {
    width: 55vw !important;
}

._vw-56 {
    width: 56vw !important;
}

._vw-57 {
    width: 57vw !important;
}

._vw-58 {
    width: 58vw !important;
}

._vw-59 {
    width: 59vw !important;
}

._vw-60 {
    width: 60vw !important;
}

._vw-61 {
    width: 61vw !important;
}

._vw-62 {
    width: 62vw !important;
}

._vw-63 {
    width: 63vw !important;
}

._vw-64 {
    width: 64vw !important;
}

._vw-65 {
    width: 65vw !important;
}

._vw-66 {
    width: 66vw !important;
}

._vw-67 {
    width: 67vw !important;
}

._vw-68 {
    width: 68vw !important;
}

._vw-69 {
    width: 69vw !important;
}

._vw-70 {
    width: 70vw !important;
}

._vw-71 {
    width: 71vw !important;
}

._vw-72 {
    width: 72vw !important;
}

._vw-73 {
    width: 73vw !important;
}

._vw-74 {
    width: 74vw !important;
}

._vw-75 {
    width: 75vw !important;
}

._vw-76 {
    width: 76vw !important;
}

._vw-77 {
    width: 77vw !important;
}

._vw-78 {
    width: 78vw !important;
}

._vw-79 {
    width: 79vw !important;
}

._vw-80 {
    width: 80vw !important;
}

._vw-81 {
    width: 81vw !important;
}

._vw-82 {
    width: 82vw !important;
}

._vw-83 {
    width: 83vw !important;
}

._vw-84 {
    width: 84vw !important;
}

._vw-85 {
    width: 85vw !important;
}

._vw-86 {
    width: 86vw !important;
}

._vw-87 {
    width: 87vw !important;
}

._vw-88 {
    width: 88vw !important;
}

._vw-89 {
    width: 89vw !important;
}

._vw-90 {
    width: 90vw !important;
}

._vw-91 {
    width: 91vw !important;
}

._vw-92 {
    width: 92vw !important;
}

._vw-93 {
    width: 93vw !important;
}

._vw-94 {
    width: 94vw !important;
}

._vw-95 {
    width: 95vw !important;
}

._vw-96 {
    width: 96vw !important;
}

._vw-97 {
    width: 97vw !important;
}

._vw-98 {
    width: 98vw !important;
}

._vw-99 {
    width: 99vw !important;
}

._vw-100 {
    width: 100vw !important;
}

/* vh _________________________________________________________________________________________________ */
._vh-0 {
    height: 0vh !important;
}

._vh-1 {
    height: 1vh !important;
}

._vh-2 {
    height: 2vh !important;
}

._vh-3 {
    height: 3vh !important;
}

._vh-4 {
    height: 4vh !important;
}

._vh-5 {
    height: 5vh !important;
}

._vh-6 {
    height: 6vh !important;
}

._vh-7 {
    height: 7vh !important;
}

._vh-8 {
    height: 8vh !important;
}

._vh-9 {
    height: 9vh !important;
}

._vh-10 {
    height: 10vh !important;
}

._vh-11 {
    height: 11vh !important;
}

._vh-12 {
    height: 12vh !important;
}

._vh-13 {
    height: 13vh !important;
}

._vh-14 {
    height: 14vh !important;
}

._vh-15 {
    height: 15vh !important;
}

._vh-16 {
    height: 16vh !important;
}

._vh-17 {
    height: 17vh !important;
}

._vh-18 {
    height: 18vh !important;
}

._vh-19 {
    height: 19vh !important;
}

._vh-20 {
    height: 20vh !important;
}

._vh-21 {
    height: 21vh !important;
}

._vh-22 {
    height: 22vh !important;
}

._vh-23 {
    height: 23vh !important;
}

._vh-24 {
    height: 24vh !important;
}

._vh-25 {
    height: 25vh !important;
}

._vh-26 {
    height: 26vh !important;
}

._vh-27 {
    height: 27vh !important;
}

._vh-28 {
    height: 28vh !important;
}

._vh-29 {
    height: 29vh !important;
}

._vh-30 {
    height: 30vh !important;
}

._vh-31 {
    height: 31vh !important;
}

._vh-32 {
    height: 32vh !important;
}

._vh-33 {
    height: 33vh !important;
}

._vh-34 {
    height: 34vh !important;
}

._vh-35 {
    height: 35vh !important;
}

._vh-36 {
    height: 36vh !important;
}

._vh-37 {
    height: 37vh !important;
}

._vh-38 {
    height: 38vh !important;
}

._vh-39 {
    height: 39vh !important;
}

._vh-40 {
    height: 40vh !important;
}

._vh-41 {
    height: 41vh !important;
}

._vh-42 {
    height: 42vh !important;
}

._vh-43 {
    height: 43vh !important;
}

._vh-44 {
    height: 44vh !important;
}

._vh-45 {
    height: 45vh !important;
}

._vh-46 {
    height: 46vh !important;
}

._vh-47 {
    height: 47vh !important;
}

._vh-48 {
    height: 48vh !important;
}

._vh-49 {
    height: 49vh !important;
}

._vh-50 {
    height: 50vh !important;
}

._vh-51 {
    height: 51vh !important;
}

._vh-52 {
    height: 52vh !important;
}

._vh-53 {
    height: 53vh !important;
}

._vh-54 {
    height: 54vh !important;
}

._vh-55 {
    height: 55vh !important;
}

._vh-56 {
    height: 56vh !important;
}

._vh-57 {
    height: 57vh !important;
}

._vh-58 {
    height: 58vh !important;
}

._vh-59 {
    height: 59vh !important;
}

._vh-60 {
    height: 60vh !important;
}

._vh-61 {
    height: 61vh !important;
}

._vh-62 {
    height: 62vh !important;
}

._vh-63 {
    height: 63vh !important;
}

._vh-64 {
    height: 64vh !important;
}

._vh-65 {
    height: 65vh !important;
}

._vh-66 {
    height: 66vh !important;
}

._vh-67 {
    height: 67vh !important;
}

._vh-68 {
    height: 68vh !important;
}

._vh-69 {
    height: 69vh !important;
}

._vh-70 {
    height: 70vh !important;
}

._vh-71 {
    height: 71vh !important;
}

._vh-72 {
    height: 72vh !important;
}

._vh-73 {
    height: 73vh !important;
}

._vh-74 {
    height: 74vh !important;
}

._vh-75 {
    height: 75vh !important;
}

._vh-76 {
    height: 76vh !important;
}

._vh-77 {
    height: 77vh !important;
}

._vh-78 {
    height: 78vh !important;
}

._vh-79 {
    height: 79vh !important;
}

._vh-80 {
    height: 80vh !important;
}

._vh-81 {
    height: 81vh !important;
}

._vh-82 {
    height: 82vh !important;
}

._vh-83 {
    height: 83vh !important;
}

._vh-84 {
    height: 84vh !important;
}

._vh-85 {
    height: 85vh !important;
}

._vh-86 {
    height: 86vh !important;
}

._vh-87 {
    height: 87vh !important;
}

._vh-88 {
    height: 88vh !important;
}

._vh-89 {
    height: 89vh !important;
}

._vh-90 {
    height: 90vh !important;
}

._vh-91 {
    height: 91vh !important;
}

._vh-92 {
    height: 92vh !important;
}

._vh-93 {
    height: 93vh !important;
}

._vh-94 {
    height: 94vh !important;
}

._vh-95 {
    height: 95vh !important;
}

._vh-96 {
    height: 96vh !important;
}

._vh-97 {
    height: 97vh !important;
}

._vh-98 {
    height: 98vh !important;
}

._vh-99 {
    height: 99vh !important;
}

._vh-100 {
    height: 100vh !important;
}